Repository IT-manager-playbook/playbook, changes with the owners that CODEOWNERS names for each.
All owners: @fduch2k, @roberqwerty, @IT-manager-playbook/comittee

#13: Добавлено сравнение с обычной практикой звонков
  content/checklists/daily.call.md
Owners: none

Перемещение в content
  content/communication.md
Owners: @fduch2k

#22: Добавлено минимальное README
  README.MD
Owners: @IT-manager-playbook/comittee

13: Изменен скоп документа
  content/checklists/daily.call_task.check.md
Owners: none

13: Исправлено ETA -> сроки
  content/checklists/daily.call_task.check.md
Owners: none

13: Изменения в тексте про опросы
  content/checklists/daily.call_task.check.md
Owners: none

13: удален текст, который может приводить к микроменеджменту
  content/checklists/daily.call_task.check.md
Owners: none

#13: Добавлен документ с чеклистом дейликов
  content/checklists/daily.call.md
Owners: none

13: удален текст, который может приводить к микроменеджменту
  content/checklists/daily.call_task.check.md
Owners: none

13: Изменен скоп документа
  content/checklists/daily.call_task.check.md
Owners: none

13: Исправлено ETA -> сроки
  content/checklists/daily.call_task.check.md
Owners: none

#13: Добавлено сравнение с обычной практикой звонков
  content/checklists/daily.call.md
Owners: none

13: Изменения в тексте про опросы
  content/checklists/daily.call_task.check.md
Owners: none

9: Подготовил описание DoR, DoD и AC
  content/DoD.md
  content/image.png
Owners: none

2: Поправил контент, в соответствии с договоренностями
  content/DR_AND_DRS.MD
Owners: none

Исправлена опечатка
  content/DR_AND_DRS.MD
Owners: none

25: Added draft for survey
  survey.md
Owners: none

25: add few questions
  survey.md
Owners: none

25: Questions were updated
  survey.md
Owners: none

Update content/DoD.md
  content/DoD.md
Owners: none

Update content/DoD.md
  content/DoD.md
Owners: none

Общее описание процесс планирования и реализации
  content/planning.md
Owners: none

Add bold for dod dor
  content/planning.md
Owners: none

Документ с описанием процесса правил планирования
  content/processes/planning.md
Owners: none

fix markdown issues
  content/processes/planning.md
Owners: none

исправлен список для хорошего примера задачи
  content/processes/planning.md
Owners: none

Добавлен конфиг и action для markdownlint
  .editorconfig
  .github/workflows/linting.yml
  .markdownlint.json
Owners: none

исправления согласно правилам markdownlint
  content/checklists/daily.call_task.check.md
  content/communication.md
  survey.md
Owners: @fduch2k

Программирование и построение регламентов и процессов в IT командах
  content/programming_vs_processes.md
Owners: none

Первая версия правил для документов
  rules.md
Owners: none

CODEOWNERS:

communication.md @fduch2k
content/1-2-1.MD @roberqwerty
rules/* @IT-manager-playbook/comittee
assets/* @IT-manager-playbook/comittee
LICENSE @IT-manager-playbook/comittee
README.MD @IT-manager-playbook/comittee
